* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100%;
    min-width: 50%;
    max-height: 100%;
    color: rgb(1, 6, 77);
}

.formulario {
    margin: auto;
    margin-top: 10px;
    padding: 40px;
    float: right;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgb(0, 0, 0);
    width: 55%;
    background-color: rgba(231, 152, 5, 0.5);
}

.uno,
.dos {
    display: block;
    width: 100%;
    font-size: 26px;
    margin-top: 5px;
}

.dos {
    height: 22px;
    font-size: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    width: 80%;
}

.im {
    height: 350px;
    width: 350px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 90px;
}

.mgen {
    padding-left: 30px;
    padding-right: 30px;
    border-right: 3px;
    border-style: solid;
    box-shadow: 0 0 15px 1px rgb(0, 0, 0);
    width: 500px;
    height: 635px;
    float: left;
    position: fixed;
    background-color: rgba(248, 86, 10, 0.6);
}

.dos:focus {
    /* background: transparent;
    border: none;
    border-bottom: 1px solid black;*/
    outline: 1px solid black;
}

.uno {
    font-family: "Cooper black";
}

.reg {
    font-family: "Arial black";
    text-align: center;
    font-size: 36px;
}

.bot1:hover {
    font-family: "Arial Narrow";
    font-size: 18px;
    background-color: chocolate;
    height: 30px;
    width: 120px;
    cursor: pointer;
    border-radius: 7px;
    text-decoration: none;
    Color: black;
    Margin: auto;
    Padding: 5px;
    Backgraund-color: blue;
    Border-radius: 7px solid black;
}

.bot2:hover {
    font-family: "Arial Narrow";
    font-size: 18px;
    background-color: chocolate;
    height: 30px;
    width: 190px;
    cursor: pointer;
    border-radius: 7px;
}

.per {
    font-family: initial;
    font-size: 25px;
}