body {
  background-color: #F86868;
  
}
.Relativo{
    border: 5px solid Black;
    width: 300px;
    height: 250px;
    margin: 10px 10px;
    padding: 10px;
    background: #F4BD2A;
    position: relative;
    left: 800px;
    bottom: -50px;
    
}

       
     